    <!-- Main  -->
   <script>
$(document).ready(function() {
    recipesToFind();
})
</script>


    <div class="container">
        <div id="recipe-cards" class="section">

            <!--   Returned Recipes Section   -->
        </div>
    </div>

    <script id="card-template" type="text/x-handlebars-template">

        <div class="col s12 m4">
            <div class="card" style="width: 315px">
                <div class="card-image" data-img-url="{{recipe.image}}" style="background-image: url({{recipe.image}}); height: 320px">
                </div>
                <div class="card-block recipe-id">
                    <h4 class="card-title">({{recipe.label}})</h4>
                    <p class="card-text">({{recipe.ingredientLines}})</p>
                    <!-- <p style="display:none;"{{recipe.ingredients}}></p> -->
                    <div>
                        <button class="btn btn-warning my-2 my-sm-0 addToMealPlan">Add to Meal Plan</button>
                        <button class="btn btn-warning my-2 my-sm-0 addToFavorites">Add to Favorites</button>
                    </div>
                </div>
            </div>
        </div>


                            </script>


                            <!-- end card info -->


          

    <!-- Footer -->
    <footer class="footer bg-warning">
        <div class="container">
            <div class="row">
                <a class="navbar-brand2" href="#">About the Team</a>
                <a class="navbar-brand2" href="#">Contact</a>
                <a class="navbar-brand2" href="#">&copy; Prep, Shop & Save 2018. All Rights Reserved.</a>
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                </div>
            </div>
        </div>
    </footer>

